@*
/* Assignment 1.sln
 * Assignment 1 - Student App
 *
 * Revision History:
 *      Francis Gerald Garlejo
 *      2022.06.10: Created,
 *      2022.07.10: Revised,
 *      2022.09.10: Finalized
 */
*@

@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h2>Welcome!!!</h2>
</div>


<div>
    <p>See all the <a asp-controller="Students" asp-action="List">Students</a>.</p>
</div>
