@*
/* Assignment 1.sln
 * Assignment 1 - Student App
 *
 * Revision History:
 *      Francis Gerald Garlejo
 *      2022.06.10: Created,
 *      2022.07.10: Revised,
 *      2022.09.10: Finalized
 */
*@

@model StudentViewModel

@{
    ViewData["Title"] = "Edit Student";
}

<form asp-controller="Student" asp-action="Edit" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div>
        <h2>Edit Student</h2>
    </div>

    <div class="form-group">
        <label asp-for="ActiveStudent.FirstName">First Name</label>
        <input type="text" asp-for="ActiveStudent.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveStudent.LastName">Last Name</label>
        <input type="text" asp-for="ActiveStudent.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DOB">Date of Birth</label>
        <input type="date" value="01-31-2000" asp-for="DOB" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveStudent.GPA">GPA</label>
        <input type="text" asp-for="ActiveStudent.GPA" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveStudent.StudyProgramId">Program</label>
        <select asp-for="ActiveStudent.StudyProgramId" class="form-control">
            <option value="">Select a program</option>
            @foreach (Assignment1.Entities.StudyProgram p in Model.StudyProgram)
            {
                <option value="@p.StudyProgramId">@p.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="ActiveStudent.StudentId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Students" asp-action="List" class="btn btn-primary">Cancel</a>
</form>

